{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Firefox > 53",
          "Chrome > 55",
        ]
      }
    }],
    "react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
