{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    ["relay", { "schema": "./github-graphql-schema.json", "debug": true }],
    "transform-object-rest-spread",
    "transform-class-properties",
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
