{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "flowtype/require-valid-file-annotation": [
      2,
      "always"
    ]
  },
 "extends": [
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],

}
